<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marc Chagall</title>

    <link rel="stylesheet" href="./stylesheets/style.css" />
</head>
<body>
    <h1>About Marc Chagall</h1>
    <div class="links">
        <a href="./index.html">Homepage</a>
        <a href="./works.html">His Works</a>
    </div>

    <img class="portrait" src="./images/chagall-portrait.jpg" alt="Chagall portrait" />
    
    <p>born Moishe Shagal; 6 July [O.S. 24 June] 1887 – 28 March 1985, he was a Russian-French artist. An early modernist, he was associated with several major artistic styles and created works in a wide range of artistic formats, including painting, drawings, book illustrations, stained glass, stage sets, ceramics, tapestries and fine art prints.</p>

    <p>Born in modern-day Belarus, then part of the Russian Empire, he was of Russian Jewish origin. Before World War I, he travelled between Saint Petersburg, Paris, and Berlin. During this period he created his own mixture and style of modern art based on his idea of Eastern Europe and Jewish folk culture.</p>

</body>
</html>