<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marc Chagall</title>
    <link rel="stylesheet" href="./stylesheets/style.css" />

</head>
<body>
    <h1>All about Marc Chagall</h1>
    <a href="./about.html">About Marc Chagall</a>
    <a href="./works.html">His Works</a>

    <p class="welcome">Welcome to our page all about Marc Chagall and his amazing surrealist artwork.</p>

    <p class="welcome">Please enjoy!</p>

    <img class="portrait" src="./images/marcindex.jpg" alt="Marc Chagall painting" />
</body>
</html>