<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marc Chagall's works</title>
    <link rel="stylesheet" href="./stylesheets/style.css" />

</head>
<body>
    <h1>Marc Chagall Works</h1>

    <div class="links">
        <a href="./index.html">Homepage</a>
        <a href="./about.html">About Marc Chagall</a>
    </div>

        <p>Here are just a couple images of some of Chagall's most famous paintings. He was a prolific painter through many decades.</p>

        <div class="images">
            <img class="works" src="./images/hommependule.jpg" alt="l'homme pendule" />
            <img class="works" src="./images/lesamoureux.jpeg" alt="les amoureux" />
            <img class="works" src="./images/village.jpg" alt="moi et le village" />
        </div>

    </body>
</html>