body {
    background-color: rgb(194, 157, 230);
    color: rgb(38, 1, 75);
    font: Tahoma;
}

h1 {
    text-align: center;
    font-size: 3em;
}

a {
    width: fit-content;
    background-color: rgb(225, 208, 242);
    color:rgb(121, 8, 234);
    padding: 2vh;
    text-decoration: none;
    border-radius: 40px;
    margin: 5px;
}

.links {
    display: flex;
    justify-content: flex-end;
}

p {
    margin: 2em;
}

p.welcome {
    text-align: center;
}

.portrait {
    max-width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

img.works {
    max-width: 30vw;
}

.images {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: flex-start;
    padding: 2em;
}